<H3>Add a New Grocery List</H3>
	<form method="POST" action="">
		List Name: <input type="text" name="list_name">
		</br></br></br>
		Created By: <input type="text" name="created_by">
		</br></br></br>
		<input type="submit">
	</form>
	</br></br>
	<a href="/../">Cancel</a>