<H3>Hola Como Estas?</H3>
<img src="public/img/bird.png" alt="You can't see the bird :/" height="350" width="350">
<P>See the <a href="{{ list }}">list</a> or change my <a href="{{ settings }}">settings.</a></P>