<h3>Settings</h3>

Only show birds that have been seen this <font color="yellow">many times: {{ value }}</font>


<form method="POST" action="">
<input type="text" name="bare_min_filter" value={{value}}>
<br>
<input type="submit" value="Set It!">
</form>
<a href="{{ list }}">(Back To Birds)</a>
